# debug mode switch
DEBUG_MODE=0

# logger config
LOG_LEVEL=DEBUG
LOG_ROOT=/path/to/logs

# api port
API_PORT=8080

# mysql config
MYSQL_HOST=alice-ai-mysql
MYSQL_PORT=3306
MYSQL_USER=xxx
MYSQL_PASSWORD=xxx
MYSQL_DATABASE=xxx

# redis config
REDIS_HOST=alice-ai-redis
REDIS_PORT=6379
REDIS_PASSWORD=xxx

# jwt config
JWT_TOKEN_SECRET=xxx
JWT_TOKEN_EXPIRE_TIME=3600
JWT_TOKEN_ALGORITHM=xxx


# api key config
API_KEY_EXPIRE_TIME=3600*24*30